*{
    margin: 0%;
}
.contenedor{
 display: grid;
 background-color: aquamarine;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 100% ;
 width: 100%;
 height: 100vh;
}
.rojo{
    background-color: red;
}
.blanco{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 45% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.blanco img{
    grid-area: 2/ 2 / 4 / 4;
    width: 200px;
    height: 200px;
}
.verde{
    background-color: green;
}
.contenedor div{
    display: grid;
 
}

